<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width-device-width" initial-scale="1"/>
    <meta name="description" content="System księgowy V1">
    <meta name="author" content="Wojciech Gauze">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>System Księgowy</title>
</head>
<body th:style="'background-color: #a1a4a8'">

    <div><a href="/" th:href="@{/}">Strona główna</a></div>

    <form  style="text-align: right" action="/logout" th:action="@{/logout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>

    <h1>Dodaj użytkownika</h1>
    <form action="#" method="post" th:action="@{/users/add}" th:object="${user}">
        <input th:field="*{login}" th:required="required">
        <input th:field="*{firstName}" th:required="required">
        <input th:field="*{lastName}" th:required="required">
        <input th:field="*{email}" th:required="required">
        <input th:field="*{password}" th:required="required" type="password">
        <input th:field="*{enabled}" th:type="checkbox">
        <input type="submit" value="Dodaj">
    </form>





<div class="container" th:style="'background-color: #e5e5e5; position: absolute; bottom: 0px;'">
    <p>Developed by ©2018 Wojciech Gauze Development</p>
</div>

</body>
</html>