<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width-device-width" initial-scale="1"/>
    <meta name="description" content="System księgowy V1">
    <meta name="author" content="Wojciech Gauze">
    <link th:href="@{../static/css/style.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>AcCSyS - lista faktur</title>
</head>
<body th:style="'background-color: #a1a4a8'">

<style>
    .page{width:100%; min-height:900px;position: absolute;top: 60px}
    .menuleftcontent{min-width:17%;float:left;height:auto; top: 60px}
    .maincontent{min-width:78%;float:left;height:auto; top: 60px}
    .navbar{min-width: 100%; position: fixed; top: 0px; height: 50px; background-color: #2e5cb8;}
    .logout{min-width: 10%;position: absolute; right: 5px; top: 10px}
</style>

<div id="page" class="page">

    <div class="navbar" th:fragment="navbar">
        <div th:id="logout" class="logout">
            <form action="/logout" th:action="@{/logout}" method="post">
                <input type="submit" value="Wyloguj"/>
            </form>
        </div>
    </div>
    <div id="menuleftcontent" class="menuleftcontent">
        <div th:include="fragments/menu :: left-menu"></div>

    </div>

    <div id="maincontent" class="maincontent">

        <h2>Lista Faktur</h2>

        <table border="2">
            <tr>
                <th>Numer faktury</th>
                <th>Data wystawienia</th>
                <th>Data wysłania</th>
                <th>Kwota do zapłaty</th>
                <th>Zapłacono</th>
                <th>Saldo</th>
                <th>Termin płatności</th>
                <th>Kontrahent</th>
                <th>Podgląd</th>
            </tr>
            <tr th:each="invoice: ${invoices}" th:object="${invoice}">
                <td hidden th:text="*{id}"></td>
                <td><a th:href="@{/invoices/list/invoice={id}(id=*{id})}" th:text="*{invoiceNumber}"></a></td>
                <td th:text="*{issueDate}"></td>
                <td th:text="*{sendDate}"></td>
                <td th:text="*{grossPrice}"></td>
                <td th:text="*{paid}"></td>
                <td th:text="*{getBalance()}"></td>
                <td th:text="*{dueDate}"></td>
                <td><a th:href="@{/contractors/list/contractor={id}(id=*{contractor.id})}" th:text="*{contractor.fullName}"></a></td>
                <td><a th:href="@{/invoices/invoice={year}/{month}/{day}/{id}(year=*{getYear()}, month=*{getMonth()}, day=*{getDay()}, id=*{getId()})}" th:text="*{invoiceNumber}" target="_blank"></a></td>
            </tr>
        </table>

    </div>
</div>


</body>
</html>