<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width-device-width" initial-scale="1"/>
    <meta name="description" content="System księgowy V1">
    <meta name="author" content="Wojciech Gauze">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Lista kontrahentów</title>
</head>
<body th:style="'background-color: #a1a4a8'">

<style>
    .page{width:100%; min-height:900px;position: absolute;top: 60px; bottom: 50px}
    .menuleftcontent{min-width:17%;float:left;height:900px;}
    .maincontent{min-width:78%;float:left;height:900px;}
    .navbar{min-width: 100%; position: fixed; top: 0px; height: 50px; background-color: #2e5cb8;}
    .logout{min-width: 10%;position: absolute; right: 5px; top: 10px}

</style>

<div id="page" class="page">

    <div class="navbar" th:fragment="navbar">
        <div th:id="logout" class="logout">
            <form action="/logout" th:action="@{/logout}" method="post">
                <input type="submit" value="Wyloguj"/>
            </form>
        </div>
    </div>
    <div id="menuleftcontent" class="menuleftcontent">
        <div th:include="fragments/menu :: left-menu"></div>

    </div>

    <div id="maincontent" class="maincontent">

        <h2>Lista kontrahentów</h2>
        <form th:action="@{/contractors/list/report}" method="post" target="_blank">
            <input type="submit" value="Generuj raport">
        </form>

        <table border="2">
            <tr>

            </tr>
            <tr>
                <th>Nazwa</th>
                <th>Ulica</th>
                <th>Numer domu</th>
                <th>Numer mieszkania</th>
                <th>Kod pocztowy</th>
                <th>Miejscowość</th>
                <th>Telefon</th>
                <th>E-mail</th>
                <th>Osoba kontaktowa</th>
            </tr>
            <tr th:each="contractor: ${contractors}" th:object="${contractor}">
                <td><a th:href="@{/contractors/list/contractor={id}(id=*{id})}" th:text="*{fullName}"></a></td>
                <td th:text="*{street}"></td>
                <td th:text="*{houseNumber}"></td>
                <td th:text="*{apartmentNumber}"></td>
                <td th:text="*{post}"></td>
                <td th:text="*{city}"></td>
                <td th:text="*{phoneNumber}"></td>
                <td th:text="*{email}"></td>
                <td th:text="*{contactPerson}"></td>
            </tr>
        </table>

    </div>

    </div>


<form id="logout" class="logout" action="/logout" th:action="@{/logout}" method="post">
    <input type="submit" value="Wyloguj"/>
</form>

<div class="container" th:style="'background-color: #e5e5e5; position: fixed; bottom: 0px; min-width: 100%; height: 30px'">
    <p>Developed by ©2018 Wojciech Gauze Development</p>
</div>

</body>
</html>