<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.sprinfgramework.org/schema/security">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width-device-width" initial-scale="1"/>
    <meta name="description" content="System księgowy V1">
    <meta name="author" content="Wojciech Gauze">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>System Księgowy</title>
</head>
<body th:style="'background-color: #a1a4a8'">

<style>
    .page{width:100%; min-height:900px;position: absolute;top: 60px}
    .menuleftcontent{min-width:17%;float:left;height:900px;}
    .maincontent{min-width:78%;float:left;height:900px;}
    .navbar{min-width: 100%; position: fixed; top: 0px; height: 50px; background-color: #2e5cb8;}
    .logout{min-width: 10%;position: absolute; right: 5px; top: 10px}

</style>

    <!--<div th:if="${logged}" th:object="${logged}">
        <p th:text="'Witaj: ' + *{getFirstName() + ' ' + getLastName()}"></p>
    </div>-->
    <form id="logout" class="logout" action="/logout" th:action="@{/logout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>

    <div id="page" class="page">

        <div class="navbar" th:fragment="navbar">
            <div th:id="logout" class="logout">
                <form action="/logout" th:action="@{/logout}" method="post">
                    <input type="submit" value="Wyloguj"/>
                </form>
            </div>
        </div>

        <div id="menuleftcontent" class="menuleftcontent">

            <div th:include="fragments/menu :: left-menu"/>

        </div>

        <div id="maincontent" class="maincontent">

            <h2>Treśc</h2>
        </div>
    </div>







    <div class="container" th:style="'background-color: #e5e5e5; position: fixed; bottom: 0px; min-width: 100%'">
        <p>Developed by ©2018 Wojciech Gauze Development</p>
    </div>

</body>
</html>