<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width-device-width" initial-scale="1"/>
    <meta name="description" content="System księgowy V1">
    <meta name="author" content="Wojciech Gauze">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>System Księgowy</title>
    <script language="JavaScript" type="text/javascript">
        <!--

        var NS4 = (navigator.appName == "Netscape" && parseInt(navigator.appVersion) < 5);

        function addOption(theSel, theText, theValue)
        {
            var newOpt = new Option(theText, theValue);
            var selLength = theSel.length;
            theSel.options[selLength] = newOpt;
        }

        function deleteOption(theSel, theIndex)
        {
            var selLength = theSel.length;
            if(selLength>0)
            {
                theSel.options[theIndex] = null;
            }
        }

        function moveOptions(theSelFrom, theSelTo)
        {

            var selLength = theSelFrom.length;
            var selectedText = new Array();
            var selectedValues = new Array();
            var selectedCount = 0;

            var i;

            // Find the selected Options in reverse order
            // and delete them from the 'from' Select.
            for(i=selLength-1; i>=0; i--)
            {
                if(theSelFrom.options[i].selected)
                {
                    selectedText[selectedCount] = theSelFrom.options[i].text;
                    selectedValues[selectedCount] = theSelFrom.options[i].value;
                    deleteOption(theSelFrom, i);
                    selectedCount++;
                }
            }

            // Add the selected text/values in reverse order.
            // This will add the Options to the 'to' Select
            // in the same order as they were in the 'from' Select.
            for(i=selectedCount-1; i>=0; i--)
            {
                addOption(theSelTo, selectedText[i], selectedValues[i]);
            }

            if(NS4) history.go(0);
        }

        function selectPermissionsOnSubmit() {
            var selectedPermissions = document.getElementById('permissions').options
            for (var i = 0; i < selectedPermissions.length; i++) {
                selectedPermissions[i].selected = true;
            }
        }

        //-->
    </script>

</head>
<body th:style="'background-color: #a1a4a8'">

<style>
    .page{width:100%; min-height:85%;position: absolute;top: 60px; bottom: 5%}
    .menuleftcontent{max-width:17%;float:left;height:85%; bottom: 500px}
    .maincontent{max-width:78%;float:left;height:85%; bottom: 50px;}
    .navbar{min-width: 100%; position: fixed; top: 0px; height: 50px; background-color: #2e5cb8;}
    .logout{min-width: 10%;position: absolute; right: 5px; top: 10px}
    .no-spinners{-webkit-appearance: none; margin: 0;}
</style>

<div th:id="logout" class="logout">
    <form action="/logout" th:action="@{/logout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>
</div>

<div id="page" class="page">

    <div class="navbar" th:fragment="navbar">
        <div th:id="logout" class="logout">
            <form action="/logout" th:action="@{/logout}" method="post">
                <input type="submit" value="Wyloguj"/>
            </form>
        </div>
    </div>

    <div id="menuleftcontent" class="menuleftcontent">
        <div th:include="fragments/menu :: left-menu"/>
    </div>

    <div id="maincontent" class="maincontent">
        <h5>Przegląd</h5>

        <form action="#" method="post" th:action="@{/services/list/service={id}(id=*{id})}" th:object="${service}">

            <table border="0" style="bottom: 50px">
                <input type="hidden" th:field="*{id}">
                <tr>
                    <td colspan="2"><h5>Dane usługi:</h5></td>
                </tr>
                <tr>
                    <td>Nazwa</td>
                    <td><input th:field="*{serviceName}" th:required="required"></td>
                </tr>
                <tr>
                    <td>Opis</td>
                    <td><input class="no-spinners" th:field="*{serviceDescription}"></td>
                </tr>
                <tr>
                    <td>Data aktywacji</td>
                    <td><input th:field="*{startDate}" type="date"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><input type="submit" value="Zapisz"></td>
                </tr>
            </table>
        </form>
    </div>
</div>


</body>
</html>