<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width-device-width" initial-scale="1"/>
    <meta name="description" content="System księgowy V1">
    <meta name="author" content="Wojciech Gauze">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>System Księgowy</title>
</head>
<body th:style="'background-color: #a1a4a8'">

<style>
    .page{width:100%; min-height:900px;position: absolute;top: 30px}
    .menuleftcontent{min-width:15%;float:left;height:900px;}
    .maincontent{min-width:78%;float:left;height:900px;}
    .logout{min-width: 10%;position: absolute; right: 5px; top: 10px}
</style>

<div th:id="logout" class="logout">
    <form action="/logout" th:action="@{/logout}" method="post">
        <input type="submit" value="Wyloguj"/>
    </form>
</div>

<div id="page" class="page">
    <div id="menuleftcontent" class="menuleftcontent">

        <ul><a href="/tasks" th:href="@{/tasks}">Zgłoszenia</a></ul>
        <ul><a href="/partners" th:href="@{/partners}">Partnerzy</a></ul>
        <ul><a href="/contracts" th:href="@{/contracts}">Umowy</a></ul>
        <ul><a href="/invoicing" th:href="@{/invoicing}">Faktury</a></ul>
        <ul><a href="/reports" th:href="@{/reports}">Raporty</a></ul>
        <ul><a href="/templates" th:href="@{/templates}">Szablony</a> </ul>
        <ul><a href="/services" th:href="@{/services}">Usługi</a></ul>
        <ul>Użytkownicy
            <li><a href="/users/list" th:href="@{/users/list}">Użytkownicy</a></li>
            <li><a href="/users/add" th:href="@{/users/add}">Dodaj</a></li>
        </ul>
    </div>
    <div id="maincontent" class="maincontent">
        <h2>Lista użytkowników</h2>

        <table border="2">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Login</th>
                <th>E-mail</th>
                <th>Czy aktywne konto</th>
            </tr>
            <tr th:each="systemUsers: ${users}" th:object="${systemUsers}">
                <td hidden th:text="*{id}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td><a th:href="@{/users/list/user={id}(id=*{id})}" th:text="*{login}"></a></td>
                <td th:text="*{email}"></td>
                <td th:if="*{enabled} == true" th:text="'TAK'"></td>
                <td th:unless="*{enabled} == true" th:text="'NIE'"></td>
            </tr>
        </table>

    </div>
</div>





<div class="container" th:style="'background-color: #e5e5e5; position: absolute; bottom: 0px;'">
    <p>Developed by ©2018 Wojciech Gauze Development</p>
</div>

</body>
</html>